<h1>VMD</h1>

<h2>Upload Files</h2>
<form id="upload-form" action="/" method="POST" enctype="multipart/form-data">
  <h2>Select a file to upload:</h2>
  <div class="upload-container"><input id="file-picker" type="file" name="image"></div>
  <div><input type="submit" value="Upload File"></div>
</form>

<p id="message">{{message}}</p>

<h2>File will be stored in Azure blob storage</h2>
{{#each this.thumbnails}}
  <img src="https://{{../accountName}}.blob.core.windows.net/{{../containerName}}/{{name}}">
{{/each}}

<hr>
<p>This is a part of a poc for VMD - testing smaller request entity</p>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    document.getElementById('upload-form').addEventListener('submit', (e) => {

      message.innerText = '';

      if(!picker.files.length) {
        message.innerText = 'Please select an image to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
</script>